.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr 1.7fr 0.3fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  gap: 1px 1px;
  grid-template-areas: ". Header Header ." ". Main Main ." ". Footer Footer .";
}

.Header { 
  grid-area: Header; 
  border-style: solid; /* visualize area */
  height: 0;
  padding-bottom: 10.00%; /* 16:9 */
  position: relative;
}

.Main { 
  grid-area: Main; 
  border-style: solid; /* visualize area */
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

.Footer { 
  grid-area: Footer; 
  border-style: solid; /* visualize area */
  height: 0;
  padding-bottom: 10.00%; /* 16:9 */
  position: relative;
}

/* For content INSIDE of Header/Body/Footer
   Allows it to scale along the the parent div (header/body/footer)
   Will need tweaking based on elements inside the component         

.child {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
*/
