.chatContainer{
    width: 400px;
    height: 800px;
    border: 2px solid black;
    overflow-y: scroll;
    overflow-x: break-word;
    overflow-x: hidden;
    background-color: darkslategray;
}

.chat{
    float: left;
}
.chatInput{
    width: 400px;
}