.statBlockContainer {
    text-align: center;
    width: 120px;
    margin: 3% auto;

    background-color: tan;
    border-radius: 10px;
    border: 1px solid black;
}

.statBlockTitle {
    padding: 1%;
    text-align: center;
}

.statBlockBonusField {
    width: 70px;
    margin: auto;
    padding: 1%;
}

.statBlockStatValueField {
    width: 50px;
    margin: auto;
    padding: 6%;
}